@import "~reset.css";
@import "~antd/dist/antd.min.css";

@import "./base";

body {
  width: 100%;
  background-color: antiquewhite;
  overflow-x: hidden;
}

.header {
  margin-bottom: 10px;

  .title {
    text-align: center;
    font-size: 22px;
  }
}

.account {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-list-split .ant-list-item {
  border-bottom: 1px solid #9a9a9a;
}

.flex {
  display: flex;
}

.flex-center {
  @extend .flex;
  justify-content: center;
}

.flex-end {
  @extend .flex;
  justify-content: flex-end;
}

@for $i from 1 through 30 {
  .m-#{$i} {
    margin: $i * 1em;
  }

  .mt-#{$i} {
    margin-top: $i * 1em;
  }

  .mr-#{$i} {
    margin-right: $i * 1em;
  }

  .mb-#{$i} {
    margin-bottom: $i * 1em;
  }

  .ml-#{$i} {
    margin-left: $i * 1em;
  }

}
